.price-cards__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.price-card {
  position: relative;
  margin-right: 9px;
  margin-left: 9px;
  min-width: 380px;
  height: 770px;
  display: flex;
  flex: 0 50%;
  flex-basis: 200px;
  border: 0.5px solid #f7f7f7;
  flex-direction: column;
  box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.087466);
  background: #334247;
  border: none;
  overflow: hidden;
}
.price-card:first-child {
  margin-left: 0;
  margin-right: 9px;
}
.price-card:last-child {
  margin-right: 0;
}
.price-card__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 33px 140px;
}
.price-card__title-name {
  color: #ffffff;
  font-weight: 700;
  font-size: 35px;
  line-height: 43px;
  text-align: center;
}
.price-card__title-website {
  font-family: Montserrat;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.price-card__price {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5bb189;
  height: 105px;
  color: #ffffff;
  font-weight: 700;
  font-size: 55px;
  line-height: 67px;
  text-align: center;
  font-family: "Montserrat";
}
.price-card__description {
  display: flex;
  width: 327px;
  height: 36px;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  margin: 40px 26px;
}
.price-card__advantages {
  display: flex;
}
.price-card__options-list {
  margin-top: 0px;
  list-style: none;
}
.price-card__order-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 154px;
  height: 40px;
  background: #5bb189;
  border-radius: 20px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}

.advantages-list__item {
  display: flex;
  justify-content: left;
  align-items: center;
  list-style-type: none;
  width: 380px;
  height: 50px;
  margin: 0px;
  background: rgba(42, 52, 56, 0.5);
  mix-blend-mode: normal;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  margin-left: -40px;
}
.advantages-list__item:nth-child(odd) {
  background-color: #2a3438;
}

.list-item__icon {
  height: 13px;
  width: 15px;
  margin-left: 22px;
  margin-right: 22px;
  display: inline-block;
}
.list-item__icon-green {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_green.png);
}
.list-item__icon-blue {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_blue.png);
}
.list-item__icon-orange {
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson+25/verification-checkmark-symbol_orange.png);
}

.price-blue {
  background-color: #3a6ba5;
}

.price-orange {
  background-color: #ec632a;
}

.blue-button {
  background-color: #3a6ba5;
}

.orange-button {
  background-color: #ec632a;
}

.popular-sticker {
  position: absolute;
  width: 147px;
  height: 25px;
  background-color: #dc3f45;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
  top: 30px;
  right: -30px;
  transform: rotate(45deg);
}

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  background-color: #141b1c;
}

.page {
  background-color: #141b1c;
}

/*# sourceMappingURL=styles.css.map */
